.Sale {
  margin-top: 130px;
  width: 100%;
  @media (max-width: 400px) {
    margin-top: 30px;
  }
  .content {
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    width: 100%;
    align-items: center;
    justify-content: center;
    @media (max-width: 400px) {
      grid-template-columns: 100%;
      flex-direction: column;
    }
    .SaleLeft {
      width: 100%;
      height: 650px;

      @media (max-width: 400px) {
        height: 400px;
      }
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .SaleRight {
      position: relative;
      background: url("../../../../../../assets/images/background.jpg")
        no-repeat center / cover;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      padding-left: 72px;
      gap: 16px;
      @media (max-width: 400px) {
        align-items: center;
        justify-content: center;
        padding: 10px;
      }
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #e9e5e4bc;
        z-index: 0;
      }
      h1 {
        font-style: italic;
        z-index: 1;
        @media (max-width: 400px) {
          text-align: center;
        }
      }
      p {
        max-width: 432px;
        width: 100%;
        font-family: "inter", sans-serif;
        font-size: clamp(16px, 3vw, 20px);
        line-height: 32px;
        font-weight: 400;
        z-index: 1;
        @media (max-width: 400px) {
          max-width: 320px;
          text-align: center;
        }
      }
      a {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        max-width: 432px;
        width: 100%;
        font-family: "inter", sans-serif;
        font-size: clamp(16px, 3vw, 20px);
        line-height: 32px;
        font-weight: 400;
        z-index: 1;
        @media (max-width: 400px) {
          width: 110px;
          text-align: center;
        }
      }
    }
  }
}
